.stepper {
  position: relative;
  padding: 50px 50px 0px;
  height: 100vh;
  background-color: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper .head {
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
}
.stepper .head .back-btn {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--black);
  font-size: 16px;
}
.stepper .back-btn:hover {
  background-color: #f5f5f5;
}
.stepper .back-btn:focus,
.stepper .back-btn:active {
  border: none;
}
.stepper .back-btn .fa {
  color: var(--green);
}

/* stepper steps */
.stepper .steps .step {
  padding: 20px 0px;
}

.stepper .steps .step::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--light-gray);
  inset: 0 12px;
  z-index: 1;
}

.stepper .steps .step.active::before,
.stepper .steps .step.completed::before {
  background-color: var(--green);
}

.stepper .steps .step .step-title {
  position: relative;
  z-index: 2;
}

.stepper .steps .step .step-title .step-number {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  margin-inline-end: 20px;
  background-color: var(--light);
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  font-size: 14px;
}

.stepper .steps .step.active .step-title .step-number {
  background-color: var(--green);
  color: var(--light);
  border: 1px solid var(--green);
}

.stepper .steps .step .step-title .step-text {
  line-height: 24px;
}
.stepper .steps .step .step-title .step-text h6 {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
}
.stepper .steps .step .step-title .step-text p {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray);
}

/* stepper steps content */
.stepper-content-container {
  display: flex;
  justify-content: start;
  /* width: 100%; */
  max-width: max-content;
  height: 100%;
  padding: 5px;
  overflow: hidden;
}
/* .stepper-content{
  transition: all 0.5s ease-in-out;
}
.stepper-content.show{transform: translateY(0%);display: block; }
.stepper-content.hide{transform: translateY(-100%);display: none} */
/* terms-conditions */
.terms-conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 416px;
  max-height: 85vh;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px #ebebeb;
}
.title {
  color: var(--dark-green);
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
}
.title span {
  color: var(--green);
}

p.info {
  width: 100%;
  height: 360px;
  padding: 12px 24px;
  color: #737373;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  overflow: auto;
}

.terms-conditions .action .check-input {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--black);
}
.terms-conditions .action .check-input input {
  width: 16px;
  height: 16px;
  margin-inline-end: 10px;
}

button.submitBtn {
  width: 100%;
  max-height: 52px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: var(--green);
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 16px;
  border: none;
}

button.submitBtn:hover {
  background-color: var(--dark-green);
}

/* book-service  || register page */
.book-service,
.register,
.all-data {
  display: flex;
  width: 100%;
  max-width: 412px;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 574.9px) {
  .book-service,
  .register,
  .all-data {
    min-width: 300px;
  }
}
.book-service h2,
.register h2,
.all-data h2 {
  font-size: 40px;
}
.book-service p,
.register p,
.all-data p {
  color: #737373;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.book-service form .form-input label,
.register form .form-input label,
.all-data form .form-input label {
  display: block;
  font-weight: 700;
  text-align: right;
  color: var(--black);
}

.book-service form .form-input input,
.register form .form-input input,
.all-data form .form-input input {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 56px;
  margin: 12px 0px;
  padding: 18px 22px;
  border: 1.5px solid #c7cad1;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}
.book-service form .form-input input:focus,
.register form .form-input input:focus,
.all-data form .form-input input:focus {
  border-color: var(--green);
  outline: 0;
}

.book-service .url-field,
.register .url-field,
.all-data .url-field {
  display: flex;
  margin: 12px 0px;
  padding: 18px 22px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0 hsla(0, 0%, 9%, 0.1);
  direction: ltr;
  color: #737373;
  font-size: 16px;
}

.book-service .alert-msg {
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 20px 24px;
  background-color: #f5f5f5;
  color: #737373;
  line-height: 24px;
  text-align: right;
}

/* ******** register section ********* */
.changeServiceBtn {
  position: absolute;
  right: 10px;
  color: var(--green);
  font-size: 16px;
  font-weight: 500;
}

/* ******** Error Section ********* */
.error .error-msg h1 {
  position: relative;
  margin-top: 0;
  color: var(--dark-green);
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 12px;
}
.error .error-msg h1 span {
  color: var(--green);
}
.error .error-msg p {
  color: var(--gray);
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 300;
  margin-bottom: 0;
}

/* Responsive */
@media (max-width: 992px) {
  .container-fluid.steps-container {
    padding-top: 150px;
  }
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .stepper .steps .step::before {
    width: 100%;
    height: 1px;
    inset: 34px 0px 0px 0px;
  }
  .stepper .steps .step .step-title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .stepper .steps .step .step-title .step-number {
    margin-inline-end: 0px;
  }
  .stepper .steps .step .step-title .step-text {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .stepper .steps .step .step-title .step-text p {
    display: none;
  }
}

@media (max-width: 480px) {
  .stepper-content-container {
    overflow: visible;
    min-width: 300px;
  }
  .terms-conditions {
    padding: 20px 10px;
  }
  p.info {
    text-align: right;
  }
  .stepper .steps .step .step-title .step-text {
    padding: 10px 0px;
  }
}
